# Aliases
alias pub='pushd ~/repos/public_gh'
alias priv='pushd ~/repos/private_gh'
alias third='pushd ~/repos/third_party'
alias proj='pushd ~/repos/projects'
alias sand='pushd ~/repos/sandboxes'
alias conf='pushd ~/.config'
