# BEGIN BLOCK custom_prompt.j2
# END BLOCK custom_prompt.j2

# BEGIN BLOCK aliases.j2
# END BLOCK aliases.j2

# BEGIN BLOCK keychain
eval $(keychain --eval --quiet --agents ssh {% for item in key_names.files %}{{item.path | basename}} {% endfor %})
# END BLOCK keychain

# BEGIN BLOCK environment.j2
# END BLOCK environment.j2
